.msg-top{
    position: absolute;
    width:100%;
    height:auto;
    z-index:1;
    i{
        color: black;
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        right: 45px;
        top: 10px;
        &:hover{
            color:silver;
        }
    }
}   